body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(19, 139, 49, 0.333);
  color: rgb(251, 251, 251);
}
main {
  width: 1000px;
  height: 1000px;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 10% 40% 5% 35% 10%;
}

main img {
  width: 75px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

h1 {
  background-color: rgb(85, 135, 98);
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
  margin: 2rem 5rem 10rem;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

ul {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

section {
  width: 800px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: rgb(85, 135, 98);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

canvas {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.clicks-allowed {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgb(85, 135, 98);
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 2.5rem;
}

.clicks-allowed:hover {
  background-color: rgb(155, 197, 166);
}

section img {
  width: 30%;
  max-height: 30rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(0, 0, 0);
}

section img:hover {
  border: 5px solid rgb(155, 197, 166);
}
